<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gear_profile.name %>
</p>

<%= link_to 'Edit', edit_gear_profile_path(@gear_profile) %> |
<%= link_to 'Back', gear_profiles_path %>
